 body {
     background-color: #f1f3f8;
 }

 h1 {
     color: #056676;
 }

 h3 {
     color: #056676;
 }

 hr {
     padding: 5px;
     color: #8d93ab;
     border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 8px;
     width: 5%;
 }
